<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" type="text/css" href="./style.css" />
</head>
<div id="header"></div>
<div class="left"></div>
<div class="stuff">
  <br><br>
  <h1>Mission Information</h1>
  <h2>Click <a href="/">here</a> to return to the rest of the resume</h2>
<br>
<p class="head">Teaching Mission (2020-2021)</p>
<p>    I served as a teaching missionary in the Colorado Fort Collins area. As part of this, I talked with many different people and worked together with several partners. Through my experiences here, I learned how to better communicate with people I don't know as well, as well as how to work together with different people to achieve a goal.</p>
<p class="head">Service Mission (2021-2022)</p>
<p>    I also worked as a service missionary in the Seattle area. My most notable experiences here are my work at a food bank known as the Bishop's Storehouse, and my work groundskeeping for the Seattle LDS temple. At the food bank, I got experience working at busy or stressful times, as well as with delegating work effectively so everything gets done. While groundskeeping, I developed a fine eye for details and some experience working with different plants and flowers.</p>
</div>
<div class="right"></div>
<div id="footer">
  <h2 id="name">Andrew Stapley</h2></div>
</html>
